
<% include ../views/head %>

    <header>
        <% include ../views/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>O NAS</h1>
        </div>
    </main>

 <% include ../views/footer %>