<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/head %>
</head>
<body class="container">

    <header>
        <% include ../views/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <footer>
        <% include ../views/footer %>
    </footer>
    
</body>
</html>