<% include ../views/head %>

    <header>
        <% include ../views/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>PAGE NOT FOUND 404</h1>
            <p>Przykro nam ktoś zamknął strone</p>
        </div>
    </main>

    <footer>
        <% include ../views/footer %>
    </footer>
    
</body>
</html>